page-jobs {

.applied-checkmark {
  font-size: 3em;
  color: green;

}
.applied {
  color: green;
  font-weight: bold;
}


ion-list {
  margin-bottom: 20px !important;
}

h2 {
  line-height: 24px;
}

}
