
welcome {

  .main {
      width: 100%;
      background: -webkit-radial-gradient(#fff, #fff, #fff, #eee, #eee, #eee, #ddd, #ddd); /* Safari 5.1- 6.0 */
      background: -o-radial-gradient(#fff, #fff, #fff, #eee, #eee, #eee, #ddd, #ddd); /* Opera 11.6-12.0 */
      background: -moz-radial-gradient(#fff, #fff, #fff, #eee, #eee, #eee, #ddd, #ddd); /* Firefox 3.6-15 */
      background: radial-gradient(#fff, #fff, #fff, #eee, #eee, #eee, #ddd, #ddd); /* Standard syntax */
  }


  .vertical-align-content > *
  {
       display: flex!important;
       align-content: center!important;
       align-items: center!important;
  }
  
}
