  <ion-navbar>
    <ion-title>

      <ion-row>
          <ion-col col-auto>
              <span left *ngIf="profileImageUrl" class="avatar" [style.background-image]="'url('+ profileImageUrl +')'"></span>
          </ion-col>
          <ion-col col-auto>
      	{{ title }}
          </ion-col>
      </ion-row>

    </ion-title>
    <ion-buttons right *ngIf="!globals.isSignedIn()">
      <button ion-button *ngIf="showSignup" icon-left class="myButton" [navPush]="accountSignupPage">
        <ion-icon name="contact"></ion-icon>Sign-Up
      </button>
      <button ion-button *ngIf="showSignin" icon-left class="myButton" [navPush]="accountSigninPage">
        <ion-icon name="log-in"></ion-icon>Sign-In
      </button>
<!--
      <button ion-button *ngIf="showSignin" icon-left class="myButton" (click)="launchHostedUi()">
        <ion-icon name="log-in"></ion-icon>Sign-In (Hosted UI)
      </button>
-->
    </ion-buttons>
    <ion-buttons right *ngIf="globals.isSignedIn()">
      <button ion-button icon-right class="myButton" (click)="globals.logout()">
        <ion-icon name="log-out"></ion-icon>Sign Out
      </button>
    </ion-buttons>
  </ion-navbar>
