page-forum {

}

.card-title-block {
  margin-left: 2px;
  margin-right: 2px;
}
.wordpress {
  text-align: justify;
  padding-top: 3px;
  padding-bottom: 3px;
}
.wp p {
  margin-top: 25px;
  margin-bottom: 25px;
  color: green;
}

.wp h3 {
  font-weight: bolder;
  text-align: center;
}
